<!-- jQuery -->
<script src="@controllers.routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
<!-- Bootstrap Core JavaScript -->
<script src="@controllers.routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
<!-- Vue -->
<script src="@controllers.routes.Assets.versioned("lib/vue/dist/vue.min.js")"></script>
<script src="@controllers.routes.Assets.versioned("lib/vue-resource/dist/vue-resource.min.js")"></script>
<!-- App Functions -->
<script type="text/javascript" src="@controllers.routes.Assets.versioned("js/app.js")"></script>
